docker.enabled = true
// allow to run with SELinux
docker.mountFlags = 'z'
// this runs the containers as the current user
docker.runOptions = '-u $(id -u):$(id -g)'
// See here for information on this image: https://github.com/InformaticsMatters/rdock_docker
process.container = 'informaticsmatters/rdock-mini:latest'